{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block footer %}

<script>
    /**
     * Add jQuery Validation plugin method for a valid password
     *
     * Valid passwords contain at least one letter and one number.
     */
    $.validator.addMethod('validPassword',
        function (value, element, param) {
            if (value != '') {
                if (value.match(/.*[a-z]+.*/i) == null) {
                    return false;
                }
                if (value.match(/.*\d+.*/) == null) {
                    return false;
                }
            }
            return true;
        },
        'Must contain at least one letter and one number'
    );
    $(document).ready(function() {

        /**
         * Validate the form
         */
        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '/account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                },
                password_confirmation: {
                    equalTo: '#inputPassword'
                }
            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });
    });
</script>

{% endblock %}

{% block body %}

<h1>Sign up</h1>

{# {% if user.errors is not empty %}
<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %} #}

<form method="post" action="../Signup/create" id="formSignup">
    <div>
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required/>
    </div>
    <div>
        <label for="inputEmail">Email Address</label>
        <input id="inputEmail" name="email" placeholder="email address" value="{{ user.email }}" required type="email"/>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required/>
    </div>
    <div>
        <label for="inputPasswordConformation">Repeat password</label>
        <input type="password" id="inputPasswordConformation" name="password_conformation"
               placeholder="Repeat password"/>
    </div>

    <button type="submit">Sign up</button>
</form>

{% endblock %}